:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif !important;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #181818;
}
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family:'Outfit';
  scroll-behavior: smooth;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
body,html{
  min-height:100%;
  width:100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
.app-container{
  width:100%;
  margin:auto;
}



body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
@media(max-width:505px){
  .App{
    width:90%;
  }
}


.district-selection {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  margin-top: 5rem;
  border:0.1px solid #cccccc13; /* optional: add color for better visuals */
  border-radius: 8px;      /* optional: smoother corners */
  padding: 1rem;           /* optional: adds internal spacing */
  box-sizing: border-box; /* ensures padding doesn't overflow */
  width: 40%;
  margin: 5rem auto 0 auto; /* top: 5rem, left/right: auto */
}
.district-selection h1{
  font-size:2.5rem;
  color: #979797;

}
.district-selection form{
  margin-top:2rem;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  gap:3rem;
}
.district-selection select{
  padding:0.5rem;
  border-radius:0.5rem;
  border:1px soldid #ccc;
  background-color:#ffffff;
  color:#000;
  font-size:1rem;
  font-weight:500;
  width:100%;
  max-width:300px;
}
.district-selection button{
  padding:0.7rem 2rem;
  border-radius:0.5rem;
  border:solid 1px rgba(86, 86, 86, 0.961);
  background:black;
  color:white;
  font-size:1rem;
  font-weight:500;
  cursor:pointer;
}
.district-selection button:hover{
  background: #0d0d0d98;
}

