.app-container {
  display: flex;
  min-height: 100vh;
}

.main-content {
  flex:1;
  padding: 24px;
  background-color:#151515;
}

@media (max-width: 768px) {
  .app-container {
    flex-direction: column;
  }

  .main-content {
    margin-left: 0;
  }
}
