:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.dashboard-heading {
  font-size: 2rem;
  text-align: center;
  margin-bottom: 30px;
}

.chart-boxes {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.chart-box {
  background-color: #212121;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  width: 250px;
  text-align: center;
}

.title-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.icon {
  margin-top: 15px;
  margin-bottom: 10px;
}

.percentage {
  font-weight: bold;
  color: #4caf50;
  margin-top: 10px;
}

.chart-box h2 {
  font-size: 1.5rem;
  color: #333;
}

.chart-box p {
  font-size: 1rem;
  color: #666;
}





