/* Sidebar container */
.sidebar-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    /* width: 230px; */
    background: rgba(21, 21, 21, 0.95);
    height: 100vh;
    padding: 3rem 30px;
    box-shadow: 2px 0 5px rgba(32, 32, 32, 0.1);
    transition: transform 0.3s ease;
  }
  
  .sidebar-container h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  .sidebar-container ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    width: 180px;
  }
  
  .sidebar-container ul a {
    text-decoration: none !important;
    color: rgb(143, 143, 143);
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.2s;
    font-weight: 500;
    font-size: 15px;
  }
  
  .sidebar-container ul a:hover {
    background-color: #353536;
    color: #7a7a7b;
  }
  
  .sidebar-container li.active a {
    background-color: #4949496d;
    color: white;
  }
  
  /* Toggle button */
  .sidebar-toggle {
    display: none;
    position: fixed;
    top: 20px;
    left: 20px;
    z-index: 1001;
    background: #222;
    color: white;
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    border:none;
  }
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .sidebar-container {
      position: fixed;
      top: 0;
      left: 0;
      transform: translateX(-100%);
      z-index: 1000;
      height: 100%;
    }
    .close-btn {
        background: none;
        border: none;
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        display: block;
    }
    .sidebar-header{
        display:flex;
        align-items: center;
        justify-content: space-between ;
        width:110%;
    }
  
    .sidebar-container.open {
      transform: translateX(0%);
    }
  
    .sidebar-toggle {
      display: block;
    }
  }
  